<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluídos en Angular - Usualmente en CommonModule.</p>
</div>

<div class="grid">
  <div class="col md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect: invitacionMapa }} a nuestro evento.
      </p>
      <button
        pButton
        type="button"
        class="p-button-outlined"
        label="Cambiar persona"
        (click)="cambiarPersona()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente tenemos {{ clientes.length | i18nPlural: clientesMapa }}
      </p>

      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined p-button-warning"
        label="Borrar cliente"
        (click)="quitarCliente()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre id="slice-pre">{{ clientes }}</pre>

      <b>Slice 0</b>
      <pre id="slice-pre">{{ clientes | slice: 0 }}</pre>

      <b>Slice 0:2</b>
      <pre>{{ clientes | slice: 0:2 }}</pre>

      <b>Slice 1:3</b>
      <pre>{{ clientes | slice: 1:3 }}</pre>

      <b>String 'Matias' Slice 0:3</b>
      <pre>{{ "Matias" | slice: 0:3 }}</pre>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          <b>{{ item.key | titlecase }}</b>
          : {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{heroes|json}}</pre>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre>Observable interval: {{miObservable | async}}</pre>
      <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa...</pre>
      <pre>{{valorPromesa | async}}</pre>
    </p-fieldset>
  </div>

</div>
