<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en CommonModule.</p>
</div>

<!-- Prime flex -->
<div class="grid">
  <div class="col-4">
    <p-card header="Uppercase" [subheader]="nombreLower | uppercase">
      {{ nombreLower | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Lowercase" [subheader]="nombreUpper | lowercase">
      {{ nombreUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">
      {{ nombreCompleto | titlecase }}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipe para mostrar las fechas.</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card>
      <ul>
        <li>Fecha</li>
        <li>Fecha | Date</li>
        <li>Fecha | Date:'short'</li>
        <li>Fecha | Date:'long'</li>
        <li>Fecha | Date:'EEEE dd-MM-yyyy, hh:mm:ss aa zzz'</li>
      </ul>

      <hr />

      <ul>
        <li>fecha | date:"long" :'GMT-6'</li>
        <li>fecha | date:"long" :'GMT-4'</li>
        <li>fecha | date:"long" :'GMT-4' :'ja'</li>
      </ul>

    </p-card>
  </div>
  <div class="col-8">
    <p-card>
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date: "short" }}</li>
        <li>{{ fecha | date: "long" }}</li>
        <li>{{ fecha | date: "EEEE dd-MM-yyyy, hh:mm:ss aa" | titlecase }}</li>
      </ul>
      
      <hr />
      
      <ul>
        <li>{{ fecha | date:"long" :'GMT-6' }}</li>
        <li>{{ fecha | date:"long" :'GMT-4' }}</li>
        <li>{{ fecha | date:"long" :'GMT-4' :'ja' }}</li>
      </ul>

    </p-card>
  </div>
</div>
