
/* Utilizaremos las variables de colores de primeNg */
/* Se encuentran en node_modules/resourses/themes */


html, body{
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family)
}

.text-layout{
    color: var(--text-color);
}